{
    "extends": "standard",
    "parser": "babel-eslint",

    "env": {
        "node": true,
        "es6": true
    },

    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module",
        "allowImportExportEverywhere": true
    },

    "rules": {
        "no-unused-vars": [
            "error",
            {
                "argsIgnorePattern": "/_/",
                "varsIgnorePattern": "/_/"
            }
        ],
        "semi": ["error", "always"],
        "quotes": ["error", "single"]
    }
}
